* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #161616;
}

.barra-sup {
    color: black;
    background-color: greenyellow;
    display: flex;
    padding: 8px 10%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}

.barra-contenedor {
    display: flex;
    gap: 24px;
    align-items: center;
}

.barra-redes {
    display: flex;
    gap: 16px;
}

.barra-datos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 18);
    padding: 0 10%;
    margin-top: 15px;
}

.nav-logo {
    display: flex;
    align-items: center;
    color: #ffff;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: 900;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 32px;
    text-transform: uppercase;
    color: #ffff;
}

.nav-btn {
    text-transform: uppercase;
    border: 1px solid #a4ff00ff;
    background-color: rgb(18, 18, 18);
    color: #a4ff00ff;
    padding: 12px;
    border-radius: 10px;
    font-weight: 700;
    margin: 15px;
}

header {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    background: url('IMG.png') no-repeat center center;
    background-size: cover;
    align-items: flex-start;
}

.titulo { font-size: 5.5rem; color: #ffff; }
.legado { color: transparent; -webkit-text-stroke: 1px #a4ff00ff; }
.etiqueta { color: #a4ff00ff; font-weight: 900; border-left: 3px solid #a4ff00ff; padding: 10px; }

.subtitulo {
    color: rgb(198, 198, 198);
    font-size: 1.1rem;
    max-width: 500px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 5px;
}

.botones { margin-top: 30px; display: flex; gap: 16px; }
.btn-solido { background-color: #a4ff00ff; font-weight: 900; padding: 17px 35px; border-radius: 10px; border: none; }
.btn-borde { border: 1px solid white; color: #ffff; background-color: transparent; padding: 17px 35px; border-radius: 10px; }

.fila {
    display: flex;
    background-color: rgb(14, 14, 14);
    gap: 24px;
    padding: 40px 10%;
}

.fila-contenedor {
    background-color: #0f0f0f;
    border: 1px solid #1a1a1a;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}

.fila-img { height: 200px; background-color: #222; background-size: cover; background-position: center; }
.fila-txt { display: flex; gap: 20px; padding: 20px; flex-direction: column; }
.ttl-1 { color: #a4ff00ff; font-weight: 700; }
.sub-1 { color: white; text-transform: uppercase; font-size: 22px; }
.enlace { text-decoration: none; color: #a4ff00ff; text-transform: uppercase; font-weight: bold; }
.parrafo1 { color: #b3b3b3; }

.disciplinas {
    background-color: #161616;
    display: flex;
    gap: 40px;
    padding: 40px 10%;
}

.ds-seccion { flex: 1.8; padding: 20px; background-color: #0f0f0f; border-radius: 10px; }
.ds-aside { flex: 1; padding: 20px; background-color: #0f0f0f; border-radius: 10px; }
.titulo3 { color: white; text-transform: uppercase; }
.ds-cajahijo { border: 1px solid #222; border-radius: 6px; padding: 25px; margin-bottom: 20px; }
.ds-h3 { color: #a4ff00ff; font-size: 16px; font-weight: bold; }
.ds-p { color: #aaaaaa; font-size: 14px; }
.aside-h3 { color: #a4ff00ff; font-weight: bold; }
.aside-p { color: #8c8c8c; font-size: 14px; }

.footer-simple {
    background-color: #0a0a0a;
    color: #555;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    border-top: 1px solid #222;
    font-size: 0.9rem;
}